* {
	margin: 0;
}

a {
	color: rgb(150,150,255);
	text-decoration: none;
}

a:hover {
	color: blue;
}

h1 {
	margin: 0 30px;
	color: white;
	text-shadow: 5px 2px 4px grey;
	font-size: 36px;
	padding-top: 2.2em;
	font-family: monospace;
	text-align: center;
}

html {
	background-color: #282828;
	font-family: sans-serif;
	background-color: #1a1a1a;
	color: white;
	font-size: 16px;
	position: absolute;
	margin: 0 auto;
}

footer {
	padding-top: 15px;
	color: rgb(100,100,100);
	text-align: center;
}	

#header {
	position: fixed;
	top: 0;
	width: 100%;
	margin-left: -8px;
	padding: 10px;
	height: 50px;
	background-color: rgba(100,100,100,0.3);
}

.header-item, #tux-icon, #tux-icon a img {
	float: left;
	margin-left: 5px;
	height: 100%;
}

.header-item {
	position: relative;
	text-align: center;
	padding: 0 10px;
}

.header-item a {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
	color: white;
	padding-top: 16px;
}

.header-item:hover {
	background-color: rgba(0, 0, 0, 0.3);
	border-bottom-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
}

#tux-icon:hover {
	border-bottom-style: solid;
	opacity: 0.7;
}

#alert {
	margin-top: 90px;
	width: 100%;
	margin-left: -8px;
	padding: 10px;
	height: 2.5em;
	background-color: rgb(225,180,20);
	font-size: 14px;
	color: rgb(40,40,40);
}

#content-intro {
	padding: 0.8em;
	width: 60%;
	margin: auto;
}

#intro-buttons {
	text-align: center;
}

#downloads-btn, #forum-btn {
	text-align: center;
	background-color: #444444;
	display: inline-block;
	width: 9em;
	height: 4em;
	padding: 1em;
	border-radius: 0.4em;
	color: white;
}

#downloads-btn:hover, #forum-btn:hover {
	background-color: #333333;
	color: lightgray;
}

.vers-sub {
	font-size: 13px;
}

#content-etc a {
	height: 9em;
	width: 16em;
	display: block;
	margin: auto;
}

#content-etc a img {
	height: 9em;
	width: 16em;
	object-fit: cover;
}
